<%= render 'shared/error_messages' %>

<div class="form-align">
    <%= f.label :firstname, :class => "form-label" %>
    <%= f.text_field :firstname %>
</div>
<div class="form-align">
    <%= f.label :lastname, :class => "form-label" %>
    <%= f.text_field :lastname %>
</div>
<div class="form-align">
    <%= f.label :email, :class => "form-label" %>
    <%= f.text_field :email %>
</div>
<div class="form-align">
    <%= f.label :password, :class => "form-label" %>
    <%= f.password_field :password %>
</div>
<div class="form-align">
    <%= f.label :password_confirmation, "Confirm Password", :class => "form-label" %>
    <%= f.password_field :password_confirmation %>
</div>
<h4>&nbsp;</h4>

<%= f.check_box :admin, {:hidden => true, :checked => true}, "true", "false"%>